.header {

    display: flex;
    justify-content: space-between;
    height: 84px;
    align-items: center;
    margin: auto;
    box-shadow: 0px 8px 20px 5px #00000014;
}


.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    size: 16px;
    line-height: 20px;
}

.nav-bar {
    display: flex;
    gap: 60px;
    align-items: center;

}

.nav-menu {
    display: flex;
    gap: 60px;
    align-items: center;
    border-bottom: 4px;
    padding-bottom: 8px;
    font-family: Merriweather, 'Times New Roman';
    font-weight: 400;
    font-style: normal;
    size: 16px;
    line-height: 20px;
}

.contact-us {
    padding-top: 24px;
    padding-left: 40px;
    padding-bottom: 24px;
    padding-right: 40px;
    gap: 4px;
    background-color: #020E35;
    color: #FFFFFF;
    margin-right: 150px;

}



.logo_zebb {
    width: 127.87px;
    /* Adjust the width as needed */
    height: 41px;
    /* Maintain aspect ratio */
    position: absolute;
    /* Positioning the logo */
    align-items: normal;
    left: 150px;
    gap: 4px;
}

.home {
    border-bottom: 4px solid #FF5678;
}

.page_position {
    display: flex;
    justify-content: space-between;

    gap: 48px;
}

.drink {
    background: #FFEEF633;

    padding-top: 300px;
    padding-bottom: 200px;
    padding-left: 150px;
    padding-right: 150px;
    gap: 480px;

    border-radius: 200px 0px 0px 0px;

}

.textDrink {
    padding-left: 150px;
  
    padding-top: 250px;
    padding-bottom: 300px;

    gap: 56px;
    width: 548px;
    height: 457px;
    font-family: Merriweather;
    font-size: 76px;
    font-weight: 900;
    line-height: 110px;
    color: #020E35;
}

mark {
    color: #FFFFFF;
    background-color: #FF5678;
    ;
}

.textSeeOur {

    padding: 24px 40px 24px 40px;
    gap: 56px;
    background: #020E35;
    color: #FFFFFF;
    font-family: Merriweather;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    box-shadow: 0px 20px 40px 5px #00000040;

}


