.header {

    display: flex;
    justify-content: space-between;
    height: 84px;
    align-items: center;
    margin: auto;
    box-shadow: 0px 8px 20px 5px #00000014;
}

.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    size: 16px;
    line-height: 20px;
}

.nav-bar {
    display: flex;
    gap: 60px;
    align-items: center;

}

.nav-menu {
    display: flex;
    gap: 60px;
    align-items: center;
    border-bottom: 4px;
    padding-bottom: 8px;
    font-family: Merriweather, 'Times New Roman';
    font-weight: 400;
    font-style: normal;
    size: 16px;
    line-height: 20px;
}

.contact-us {
    padding-top: 24px;
    padding-left: 40px;
    padding-bottom: 24px;
    padding-right: 40px;
    gap: 4px;
    background-color: #020E35;
    color: #FFFFFF;
    margin-right: 150px;

}

.logo_zebb {
    width: 127.87px;
    /* Adjust the width as needed */
    height: 41px;
    /* Maintain aspect ratio */
    position: absolute;
    /* Positioning the logo */
    align-items: normal;
    left: 150px;
    gap: 4px;
}

.home {
    border-bottom: 4px solid #FF5678;
}

.page_position {
    display: flex;
    justify-content: space-between;
    height: 1008px;
    gap: 48px;
}

.drink {
    background: #FFEEF633;

    padding-top: 300px;
    padding-bottom: 200px;
    padding-left: 150px;
    padding-right: 150px;
    gap: 480px;

    border-radius: 200px 0px 0px 0px;

}

.textDrink {
    padding-left: 150px;

    padding-top: 250px;
    padding-bottom: 300px;

    gap: 56px;
    width: 548px;
    height: 457px;
    font-family: Merriweather;
    font-size: 76px;
    font-weight: 900;
    line-height: 110px;
    color: #020E35;
}

.colour {
    color: #FFFFFF;
    background-color: #FF5678;
    ;
}

.textSeeOur {

    padding: 24px 40px 24px 40px;
    background: #020E35;
    color: #FFFFFF;
    font-family: Merriweather;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    box-shadow: 0px 20px 40px 5px #00000040;

}

.secondpage {
    display: flex;
    justify-content: space-between;
    height: 708px;
}

.illustrationGroup {
    top: 1092.03px;
    padding: 100px 150px 100px 150px;
}

#box {
    width: 517px;
    padding: 100px 150px 100px 150px;
}

.p1 {
    width: 517px;
    color: #020E35;

    font-family: Merriweather;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
}

.Powered {
    font-family: Merriweather;
    font-size: 54px;
    font-weight: 700;
    line-height: 62px;
    text-align: left;
    width: 428px;
    background: linear-gradient(to top, #FF5678 20%, transparent 20%);
}

.LearnMore {
    padding: 24px 40px 24px 40px;
    background: #020E35;
    color: #FFFFFF;
    font-family: Merriweather;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    box-shadow: 0px 20px 40px 5px #00000040;

}

/* Start of the buton play*/


.player {
    background: #FF5678;
    width: 50px;
    height: 50px;
    border: solid 5px #FF5678;
    border-radius: 100%;
    position: relative;
    text-indent: -9999px;
    box-shadow: 1px 1px 3px #999999;
    transition: none;
}

.player span {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 20px solid #fff;
    border-bottom: 15px solid transparent;
    position: absolute;
    top: 20%;
    left: 36%;
}

.player:hover {
    background: #FF5678;
    /* Gardez la même couleur pour le fond */
    cursor: pointer;
    border: solid 5px #FF5678;
    /* Gardez la bordure */
    box-shadow: 1px 1px 3px #999999;
    /* Gardez l'ombre */
}

.player:hover span {
    top: 20%;
    /* Ne changez pas la position du span */
    left: 36%;
    /* Ne changez pas la position du span */
}

.alignBouton {
    align-items: center;
    display: flex;
    gap: 63px;
}

/* End  of the buton play*/
.Watch {
    width: 120px;
    text-align: center;
    font-family: Merriweather;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
}

.alignWatch {
    align-items: center;
    display: flex;
    gap: 24px;
}

/*Start of the Third page */

.Thirdpage {
    display: flex;
    height: 792px;
}

.ThirdSize {
    width: 545px;
    height: 592px;
    padding-left: 150px;
}

.ThirdTitle {
    width: 457px;
    height: 62px;
    gap: 0px;
    opacity: 0px;
    font-family: Merriweather;
    font-size: 54px;
    font-weight: 700;
    line-height: 62px;
    text-align: left;
    color: #020E35;
    background: linear-gradient(to top, #FF5678 34px, transparent 20%);
}

.boxContent {
    width: 545px;
    height: 410px;
    gap: 40px;
    opacity: 0px;
    padding-top: 120px;
    display: flex;
}

.SizeboxContent {
    width: 544px;
    height: 410px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.ThirdAlign {
    align-items: center;
    display: flex;
    width: 421px;
    height: 110px;
    gap: 40px;
}

.ThirdNumber {
    width: 83px;
    height: 72px;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 400;
    line-height: 72px;
    text-align: left;
    position: relative;
    top: -37px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

}

.ThirdMinititle {
    font-family: Merriweather;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    color: #020E35;
    margin: 0;
    width: 543px;
}

.ThirdText {
    width: 421px;
    height: 46px;
    gap: 0px;
    opacity: 0px;
    font-family: Merriweather;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    color: #020E35;
}

.TextAlign {
    width: 421px;
    height: 102px;
}


.SecondsizeContent {
    width: 543px;
    height: 410px;
    gap: 40px;
    padding: 191px 150px 191px 150px;
    flex-direction: column;
    display: flex;
}

.circle {
    top: 1987.05px;
    position: absolute;
    left: 0%;
    z-index: -1;
}

/*end of the third page */

/*Start of the four page*/
.dimension {

    width: 1920px;
    height: 870px;
}

.boxfour {
    padding: 100px 150px 100px 150px;
    width: 664px;
    height: 503px;
}

.sizeFour {
    display: flex;
    justify-content: space-between;
    height: 708px;
}

.Title4 {
    width: 664px;
    height: 216px;
    font-family: Merriweather;
    font-size: 54px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
    color: #020E35;
    padding-bottom: 60px;
}

.backgroud4 {
    width: 406px;
    background: linear-gradient(to top, #FF5678 34px, transparent 0%);
}

.Text4 {
    width: 481px;
    height: 96px;
    gap: 0px;
    opacity: 0px;
    padding-bottom: 60px;
    font-family: Merriweather;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #020E35;
}

.img4 {
    top: 1092.03px;
    padding-right: 150px;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 780px;
    height: 670px;
}

.LearnMore4 {
    padding: 24px 40px 24px 40px;
    background: #020E35;
    color: #FFFFFF;
    font-family: Merriweather;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    box-shadow: 0px 20px 40px 5px #00000040;
    width: 184px;
}

/*End of the four page*/

/*Start of the Team section (five page)*/
.dimension5 {
    height: 1485px;
}

.Title5 {

    font-family: Merriweather;
    font-size: 54px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    width: 420px;
    height: 72px;
    gap: 0px;
    opacity: 0px;
    color: #020E35;
    background: linear-gradient(to top, #FF5678 34px, transparent 0%);
}

.positionTitle5 {
    padding-left: 758px;

}

.grid {
    display: grid;
    grid-template-columns: [first] 519px [line2] 519px 519px [end];
    grid-template-rows: 519px 519px 519px;
    column-gap: 32px;
    row-gap: 61px;
    width: 1620px;
    height: 1109px;

}

.grid>div:hover {
    box-shadow: 0px 20px 40px 5px #00000026;
    transform: scale(1.1);
}

.grid>div {
    background-color: #FFFFFF;
    border-radius: 50px;
    border: 3px solid #B8B8B8
}

.position5 {
    padding: 71px 165px 60px 165px;

    border-radius: 50px 0px 0px 0px;

}

.positionbox {
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 100px;
    padding-top: 104px;
}

.text {
    width: 227px;
    height: 83px;
    padding-left: 146px;
    padding-right: 146px;
    padding-bottom: 88px;
}

.Name {
    font-family: Merriweather;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 227px;
    height: 36px;
    gap: 0px;
    opacity: 0px;
    color: #020E35;
}

.Second {
    font-family: Merriweather;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 92px;
    height: 23px;
    gap: 0px;
    opacity: 0px;
    color: #020E35;
    padding-left: 66.5px;
}

/*Mark section */

.textMarK {
    width: 227px;
    height: 130px;
    padding-left: 162.5px;
    padding-right: 162.5px;
    padding-bottom: 74.5px;
    padding-bottom: 0px;
}

.NameMark {
    font-family: Merriweather;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 227px;
    height: 36px;
    gap: 0px;
    opacity: 0px;
    color: #020E35;
    padding-left: 46.5px;
    padding-right: 46.5px;
}

.SecondMark {
    font-family: Merriweather;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 24px;
    margin-bottom: 24px;
}

.DetailsMark {
    width: 97px;
    height: 23px;
    gap: 0px;
    opacity: 0px;
    font-family: Merriweather;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #020E35;
    padding-left: 58.5px;
    margin-top: 0px;
}

/*David section */

.PositionDavid {
    width: 166px;
    height: 83px;
    padding-left: 176.5px;
    padding-right: 176.5px;
    padding-bottom: 88px;
}

.TitleDavid {

    width: 136px;
    height: 36px;
    gap: 0px;
    opacity: 0px;
    font-family: Merriweather;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #020E35;

    padding-left: 15px;
    padding-right: 15px;


}

.TextDavid {

    font-family: Merriweather;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #020E35;
    width: 166px;
    height: 23px;



}

/*Jone section */


.PositionJones {
    width: 156px;
    padding-left: 182.5px;
    padding-right: 182.5px;
    padding-bottom: 88px;

}

.TitleJone {
    font-family: Merriweather;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #020E35;
}

.TextDavid {
    font-family: Merriweather;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #020E35;
}

/*Alice section */
.PositionAlice {
    width: 196px;
    height: 83px;
    padding-left: 161.5px;
    padding-right: 161.5px;
    padding-bottom: 88px;
}

.TitleAlice {

    font-family: Merriweather;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #020E35;
}

.TextAlice {
    font-family: Merriweather;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #020E35;
}

/*Jhang Yui section */

.PositionJhang {
    padding-left: 142px;
    padding-right: 142px;
    padding-bottom: 88px;
}

.TitleJhang {
    width: 135px;
    height: 36px;

    padding-left: 50px;
    padding-right: 50px;


    font-family: Merriweather;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #020E35;
}

.TextJhang {
    width: 235px;
    height: 23px;
    font-family: Merriweather;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #020E35;
}

/*Six section */
.dimension6 {
    display: grid;
    width: 1920px;
}

.Title6 {
    width: 743px;
    height: 72px;

    font-family: Merriweather;
    font-size: 54px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #020E35;

    padding-left: 588.5px;
    padding-right: 588.5px;
    margin-bottom: 0px;
    padding-bottom: 60px;
}

/*Grid */
.Table6 {
    display: grid;
    width: 1620px;
    height: 1376px;
    gap: 32px;
    grid-template-columns: repeat(3, 519px);
    grid-template-rows: repeat(3, 672px);
    padding-left: 150px;
    padding-right: 150px;


}

.first {
    background-color: #FFEEF6;
    ;
    width: 519px;
    height: 672px;



}

.second {
    background-color: #FFEEF6;
    width: 519px;
    height: 672px;


}

.firstgrid {
    display: grid;
    gap: 32px;
    height: 1376px;
    width: 519px;
}

.secondgrid {
    display: grid;
    gap: 32px;


}

.largerGrid {
    width: 1068px;
    background-color: #FFEEF6;
    ;
    height: 519px;
}

.leftGrid {
    width: 518px;
    background: #FFEEF6;
    height: 825px;
    padding-bottom: 0;

}

.rightGrid {
    width: 519px;
    ;
    height: 825px;
    gap: 32px;
    display: grid;
}

.smallgrid {
    width: 518px;
    height: 396.5px;
    background: #FFEEF6;
}

/*Nav */
.nav-bar2 {

    display: flex;
    justify-content: space-between;
    gap: 60px;

    width: 536px;
    height: 44px;

    font-family: Merriweather;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-left: 692px;
    padding-right: 692px;

    padding-bottom: 60px;
}

.SizeAll {
    display: flex;
    width: 48px;
    height: 36px;
    color: #020E35;


}

.SizeIllustr {

    width: 140px;
    height: 36px;
    gap: 0px;
    opacity: 0px;
    color: #020E35;

}

.SizeBrand {
    width: 113px;
    height: 36px;
    gap: 0px;
    opacity: 0px;

    color: #020E35;


}

.PostionSeeMore {
    padding-left: 858.5px;
    padding-right: 858.5px;
    padding-top: 60px;
    width: 204px;
    height: 71px;

}

/*Page 7*/
.Dimension7 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 1280px;
}

.potionTest {
    padding-top: 100px;
    padding-left: 775.5px;
    padding-right: 775.5px;
    gap: 20px;
}

.TitleTestimony {
    width: 330px;
    height: 72px;
    gap: 0px;
    opacity: 0px;
    font-family: Merriweather;
    font-size: 54px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #020E35;

}

.TextTestimony {
    width: 369px;
    height: 36px;
    gap: 0px;
    opacity: 0px;
    font-family: Merriweather;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #020E35;

}

.frame {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding-top: 100px;
}

.frame1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 46px;
    width: 412px;
    height: 555px;
    border: 1px solid #949494;
    border-radius: 150px;
}

.frame2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 46px;
    width: 460px;
    height: 672px;
    border: 1px solid #949494;
    border-radius: 150px;
}

.frame-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    width: 253px;
    height: 340px;
}

.frame-text1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    width: 380px;
    height: 317px;
}

.frame-photo {
    display: flex;
    width: 150px;
    height: 150px;
}

.stars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.star {
    display: flex;
    width: 29px;
    height: 27px;

}

.direction-LeftRight {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 1620px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 100px;
}

/*Page 8*/
.Dimension8 {
    display: flex;
    height: 1104px;
    width: 1920px;
}

#ImageContactPostion {
    padding-left: 150px;
    padding-top: 217px;
    padding-bottom: 217px;
    height: 671px;
    width: 780px;
}

.ContactSection {
    width: 656px;
    height: 904px;

    padding: 100px 150px 100px 150px;
}

.nomargin {
    margin-top: 0;
}

.PoliceContactSection {
    width: 656px;
    height: 144px;
    gap: 0px;
    opacity: 0px;
    padding-bottom: 100px;
    font-family: Merriweather;
    font-size: 54px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #020E35;
    margin-top: 0px;
}

.SizeoftheForm {
    width: 656px;
    height: 660px;
    gap: 40px;
    display: grid;
}

input {
    width: 656px;
    background: #FFEEF6;
    border-radius: 10px;
    border: 1px solid #020E35;
}
input[name=fname] {
    height: 70px;
    border: 1px solid #020E35;
}


input[name=email] {
    height: 200px;
    border: 2px solid #020E35;
}

label[for=fname] {
    font-family: Merriweather;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #020E35;
}

.Space {
    display: grid;
    gap: 20px;
}

button[type=button]{

        padding: 24px 40px 24px 40px;
        background: #020E35;
        color: #FFFFFF;
        font-family: Merriweather;
        font-size: 18px;
        font-weight: 700;
        line-height: 23px;
        text-align: center;
        box-shadow: 0px 20px 40px 5px #00000040;
        height: 71px;
        width: 205px;
        cursor: pointer;
  }
  /*Page 9*/
.Diemnsion9{
    display: flex;
    width: 1920px;
    height: 870px;
    
  }
  .SizeoftheForm2 {
    width: 656px;
    height: 337px;
    gap: 40px;
    display: grid;
}
.ImagPostion{
    padding: 100px 150px 100px 150px;
}